<div class="search__bar">
    <div class="search__container">
        <form action="/search" class="search__form" role="search" method="POST">
            <input type="search" aria-label="searchInput" name="searchTerm" class="search__input" placeholder="What are you looking for?">
        </form>
    </div>
</div>