<div class="hero">
    <h1 class="hero__title">
        Antoine Chouinard Portfolio's
    </h1>

    <p class="hero__body">
        Developer Back-end
    </p>

    <img src="/img/hero_bg.webp" alt="Image tech" class="hero__bg">
</div>

<section class="projects">
    <h2 class="projects__title">
        Latest Projects
    </h2>

    <div class="projects__lists">
        <div class="projects__container">
            <div class="project">
                <a href="#">
                    <div class="project__container">
                        <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                        <h3 class="project__title">
                            Project Title
                        </h3>

                        <span class="project__date">11-02-2025</span>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#">
                    <div class="project__container">
                        <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                        <h3 class="project__title">
                            Project Title
                        </h3>

                        <span class="project__date">11-02-2025</span>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#">
                    <div class="project__container">
                        <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                        <h3 class="project__title">
                            Project Title
                        </h3>

                        <span class="project__date">11-02-2025</span>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#">
                    <div class="project__container">
                        <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                        <h3 class="project__title">
                            Project Title
                        </h3>

                        <span class="project__date">11-02-2025</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="projects__pagination">
            <a href="#" class="pagination">View older projects</a>
        </div>
    </div>
</section>
