<div class="hero">
    <h1 class="hero__title">
        Antoine Chouinard Portfolio's
    </h1>

    <p class="hero__body">
        Developer Back-end
    </p>

    <img src="/img/hero_bg.webp" alt="Image tech" class="hero__bg">
</div>

<section class="projects">
    <h2 class="projects__title">
        Latest Projects
    </h2>

    <div class="projects__lists">
        <div class="projects__container">
            <% data.forEach(project => { %>
                <div class="project">
                    <a href="/projects/<%= project.id %>">
                        <div class="project__container">
                            <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                            <h3 class="project__title">
                                <%= project.title %>
                            </h3>

                            <span class="project__date"><%= project.createdAt.toDateString() %></span>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>

        <% if (nextPage !== null) { %>
            <div class="projects__pagination">
                <a href="/?page=<%= nextPage %>" class="pagination">View older projects</a>
            </div>
        <% } %>
    </div>
</section>
