<div class="hero">
    <h1 class="hero__title">
        Search Results
    </h1>
</div>

<section class="projects">
    <h2 class="projects__title">
        Latest Projects
    </h2>

    <div class="projects__lists">
        <div class="projects__container">
            <% data.forEach(project => { %>
                <div class="project">
                    <a href="/projects/<%= project._id %>">
                        <div class="project__container">
                            <img src="https://placehold.co/600x400" alt="Image project" class="project__img">

                            <h3 class="project__title">
                                <%= project.title %>
                            </h3>

                            <span class="project__date"><%= project.createdAt.toDateString() %></span>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</section>